.Skills {
  text-align: center;
}

.Skills-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 36px;
  padding-left: 100px;
}

.Skill-name {
  font-weight: bold;
  font-size: 25px;
}

.Description {
  font-size: 17px;
  /* padding-left: 10px; */
}

.StyledImage {
  border-radius: 16px;
  min-width: 20px;
  width: 120%;
  height: 70%;
}

.StyledLogo {
  width: 16px;
  height: 16px;
}

.StyledContainer {
  display: flex;
  width: 10%;
  max-width: 50%;
  padding-right: 8%;
  margin-top: 1%;
  margin-bottom: -20px;
}

.StyledSection {
  display: flex;
  margin-top: 10px;
}

.StyledCardSection {
  justify-content: space-between;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  @media only screen and (min-width: 680px) {
    justify-content: space-between;
    margin-top: 20px;
    &:after {
      content: "";
      flex: 0 0 21%;
    }
  }
}

.StyledInfoCard {
  width: 100px;
  margin-bottom: 1.5em;
  margin-top: 12px;
  padding: 0 50px 0 50px;
}

h1 {
  padding-top: 0px;
  margin-bottom: 15px;
}

img {
  display: flex;
}

p {
  color: white;
}
